@model MyHome.Web.ViewModels.Property.SelectCategoriesViewModel
<div style="justify-content:space-between">
    <h1 style="margin-left:400px; margin-bottom:75px">Select category:</h1>
    <hr />
    <div class="form-group">
        <div class="row" style="justify-content:space-between; margin-left:50px">
            @foreach (var category in this.Model.Categories)
            {
                var ext = category.Id + ".jpg";
                <div class="card col-md-4">
                    <a asp-controller="Property" asp-action="Category" asp-route-id="1" asp-route-type="@category.Name">
                        <img class="card-img-top" src="~/localImages/categorySearch/@ext" alt="Card image cap">
                        <div class="card-body" style="justify-content:center">
                            <h5 class="card-title">@category.Name</h5>
                        </div>
                    </a>
                </div>
            }
            <div class="card col-md-4">
                <a asp-controller="Property" asp-action="AllHomes" asp-route-id="1">
                    <img class="card-img-top" src="~/localImages/categorySearch/AllHomes_.png" alt="Card image cap">
                    <div class="card-body" style="justify-content:center">
                        <h5 class="card-title">All homes</h5>
                    </div>
                </a>
            </div>
            @if (this.User.IsInRole("Administrator"))
            {
                <div class="card col-md-4" style="float:left">
                    <a asp-area="Administration" asp-controller="Categories" asp-action="Add">
                        <img class="card-img-top" src="~/localImages/categorySearch/add.png" alt="Card image cap">
                        <div class="card-body" style="justify-content:center">
                            <h5 class="card-title">Add Category</h5>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<style>
    img {
        width: 100px;
        height: 200px;
    }
</style>