@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager 
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="favourites" asp-area="" asp-controller="Favourite" asp-action="All">My Favourites</a></li>
    <li class="nav-item"><a class="nav-link" id="homes"  asp-area="" asp-controller="Property" asp-action="My">My Homes</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-area="" asp-controller="Reviews" asp-action="My">My Reviews</a></li>
</ul>
